.header {
	background-color: red;
}
.fx {
	display: flex;
}

.logo {
	width: 100px;
	padding: 0.5rem;
	img {
		width: 100%;
	}
}

.form-wrapper__input {
	display: flex;
}

.form {
	display: flex;
	flex-direction: column;
}

.input-form {
	display: flex;
	align-items: center;
	padding: 1rem;
	label {
		display: block;
		margin-right: 1rem;
	}
}
.form-input__form {
	display: flex;

	.search {
		width: inherit;
		height: 2rem;
	}
}
.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
/*

.column {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  width: 100%;
  appearance: none;
}*/
